@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.container-fluid{
    max-width: 1400px;
    padding:2rem;
    .post header{
        position:relative;
        .post_info{
            position:absolute;
            margin: 0 auto;
            display:flex;
            flex-direction: column;
            background-color: rgba(0,0,0,0.5);
            color:white;
            padding: 1.5rem;
            padding-bottom:0.5rem;
            z-index: 5;
            height: 100%;
            justify-content: flex-end;
            p{
                margin:0;
                font-size: 0.75rem;
            }
        }
        .post_title{
            position:absolute;
            bottom:0;
            display:flex;
            background-color: rgba(0,0,0,0.5);
            color:white;
            justify-content: center;
            width: 100%;
            font-size: 3rem;
        }
        img{
            width:100%;
            height:auto;
        }
    }
    .post_content{
        max-width: 120ch;
        display: flex;
        flex-direction: column;
        margin:0 auto;
        padding: 1rem;
        img{
            max-width: 100%;
            max-height: 800px;
        }
        h1,h2,h3,h4,h5{
            font-weight: 700;
            font-size: 1.5rem;
            color:#333;
        }
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.25rem;
            color:#333;
            column-count: 2;
        }
    }
}